<div class="row">
	<div class="col-lg-6 offset-lg-3 mt-5">
		<h2 class="text-center text-white display-4 text-uppercase fw-semibold">
			Ingrese presupuesto
		</h2>
		<div class="mt-4">
			<div class="card-body">
				@if(cantidadIncorrecta) {
				<div class="text-center mb-3">
					<span class="badge bg-danger text-error"
						>EL PRESUPUESTO DEBE SER MAYOR A 0</span
					>
				</div>
				}
				<input
					type="number"
					[(ngModel)]="cantidad"
					class="form-control form-control-lg"
					placeholder="Ingrese su presupuesto" />
				<button
					type="button"
					class="btn btn-primary btn-lg btn-block mt-2"
					(click)="agregar()">
					ACEPTAR
				</button>
			</div>
		</div>
	</div>
</div>
